html, body {
    width: 300px;
}

h2 {
    text-align: center;
    margin-top: 2px;
}

#new_dl {
    margin: 5px;
    margin-top: 0px;
}

#buttonbox {
    display: flex;
    width: 100%;
    align-items: center;
}

button {
    text-align: center;
    width: 95%;
    margin: 5px;
}

#dl_state {
    display: none;
    margin: 5px;
}

#adv {
    display: none;
    margin-left: 5px;
}

#error {
    display: none;
    border: 1px solid #f44;
    background-color: #fcc;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
}
